.footer {
  padding: 20px 12px;
  text-align: center;
  font-size: 0.85rem;
  color: #7a7a7a;
  margin-top: 40px;

  background: transparent;  
  border-top: 1px solid rgba(0,0,0,0.08); 
}


.footer-links {
  margin-top: 6px;
}

.footer-links a {
  color: #5A2E1B;
  text-decoration: none;
  margin: 0 6px;
}

.footer-links span {
  color: #aaa;
}
